[submodule "Fase 2/Evidencias Proyecto/Evidencias de sistema Aplicación/app"]
	path = Fase 2/Evidencias Proyecto/Evidencias de sistema Aplicación/app
	url = https://github.com/DaemonJeager/PROYECTO-FINAL
